.footer{
    background-color: #000911;
    opacity: 0.9;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.footer p{
    font-size: 15px;
}
.footer h1{
    font-size: 20px;
    font-weight: 600;
}