.homecontent{
    text-align: center;
    margin-right: 15%;
    margin-left: 15%;
}
.homecontent p{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}
.card{
    width: 30%;
    padding-bottom: 20px;
}
.card p{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}
.card img{
    width: 100%;
    height: auto;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* small screen */
@media screen and (max-width: 600px) {
    .homecontent{
        margin-right: 5%;
        margin-left: 5%;
    }
    .card{
        width: 100%;
    }
}