.profile{
font-size: 1.2em;
}

.profile p{
  padding: 10px;
}

.signout > span{
  color: blue;
  cursor: pointer;
}
.signout{
  margin-top: 20px;
}
.signout > span:hover{
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}

